<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="index.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- addin jQuery to the file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Restaurantour</title>
</head>

<body>
    <!-- navigation bar -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Restaurantour</a>
                </div>
                <!-- elements in navbar to collapse into button -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="restaurants.html">Restaurants</a>
                        </li>
                        <li>
                            <a href="review.html">Reviews</a>
                        </li>
                        <li>
                            <a href="writeReview.php">Write a Review</a>
                        </li>
                        <li>
                            <a href="writeRestaurant.html">Upload a Restaurant</a>
                        </li>
                        <li>
                            <a href="searchDishes.html">Search Dish</a>
                        </li>
                        <li>
                            <a href="createDishes.php">Upload Dish</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="signup.html">
                                <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                        </li>
                        <li>
                            <a href="login.html">
                                <span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>
                        <li>
                            <a href="./php/logout.php"> <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top: 60px">

        <form action="./php/searchDishes.php" method="post" style="padding-top: 60px">
            <div class="form-group">
                <label for="restName">Restaurant Name:</label>
                <input type="username" name="restName" class="form-control is-valid" ng-model="username">

                <label for="dishName">Dish Name:</label>
                <input type="username" name="dishName" class="form-control is-valid" ng-model="username">

                <label for="cuisineName">Cuisine Type:</label>
                <input type="username" name="cuisineName" class="form-control is-valid" ng-model="username">
            </div>

            <button type="submit" value="Submit" name="submit" class="btn btn-default">
                Search
            </button>
            </br>
        </form>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<footer class="footer">
    <div class="container" id="footer">
        <small>
            <center>
                Copyright © 2019 Restaurantour Technologies
            </center>
        </small>
    </div>
</footer>

</html>